#root{
  height: 100vh;
  background-color: rgb(57 144 101);
}

.game-container{
  display: flex;
  justify-content: center;
  --card-width: 150;
  --card-spacing: 20;
  --content-background-color: rgb(53 101 77);
}

.gameboard {
  display: flex;
  flex-flow: row wrap;

  background-color: var(--content-background-color);
  border: 5px rgb(245, 245, 245) solid; 
  border-radius: 15px;
  
  max-width: calc(var(--card-width) * 6px + var(--card-spacing) * 5px);               
  padding: calc(var(--card-spacing) * 1px);
  gap: calc(var(--card-spacing) * 1px);
  
}

.card-container{
  width: calc(var(--card-width) * 1px);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.cardImg{
  max-width: 100%;
  max-height: 100%;
  box-sizing:border-box;
}